* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

body {
  background: black;
  color: #00ff9c;
  overflow-x: hidden;
}

/* LOCK SCREEN */
#lockScreen {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.lock-box {
  text-align: center;
  border: 1px solid #00ff9c;
  padding: 30px;
  animation: glow 2s infinite alternate;
}

.lock-box input {
  margin-top: 15px;
  padding: 10px;
  background: black;
  border: 1px solid #00ff9c;
  color: #00ff9c;
}

.lock-box button {
  margin-top: 15px;
  padding: 10px 25px;
  background: transparent;
  color: #00ff9c;
  border: 1px solid #00ff9c;
  cursor: pointer;
}

@keyframes glow {
  from { box-shadow: 0 0 10px #00ff9c; }
  to { box-shadow: 0 0 30px #00ff9c; }
}

.hidden { display: none; }

/* MATRIX */
#matrix {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.name {
  position: fixed;
  top: 20px;
  width: 100%;
  text-align: center;
  font-size: 48px;
  letter-spacing: 10px;
  animation: flicker 3s infinite;
}

@keyframes flicker {
  0%,100% { opacity: 1; }
  50% { opacity: 0.6; }
}

/* SECTIONS */
.panel {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("photo1.jpg") center/cover fixed;
  backdrop-filter: brightness(0.4);
  font-size: 28px;
  animation: fadeUp 1.2s ease;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 15px 25px;
  border: 1px solid #00ff9c;
  color: #00ff9c;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #00ff9c;
  color: black;
  }
